body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/* Start Top Area */
.top-area{
    display: flex;
    margin-bottom: 100px;
}
.title{
    font-size: 50px;
    line-height: 78px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.orange-color{
    color: #fc8b47;
}
.top-area-des{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #828282;
    margin-bottom: 50px;
}
.half-area-top-1{
    width: 40%;
    padding-left: 5%;
    padding-top: 120px;
}
.half-area-top-2{
    width: 40%;
    padding-left: 5%;
    padding-top: 80px;
}
.half-area-top-2 img{
    width: 100%;
}
.btn{
    text-decoration: none;
    color: white;
    padding: 24px 32px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border-radius: 100px;
    font-weight: 600;
    font-size: 20px;
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5)
}
/* End Top Area */
/* Start About Secton */
.about-section{
    display: flex;
    margin-bottom: 100px;
    padding-top: 50px;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.half-area-about-1{
    width: 40%;
    padding-left: 5%;
}
.half-area-about-2{
    width: 40%;
    padding-left: 5%;
}
.half-area-about-1 img{
    width: 60%;
    padding-left: 20%;
   
}
.about-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: #707070;
    margin: 30px 0px;
}
.about-pera{
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    color: #18191F;
    margin: 15px 0px;
    padding-bottom: 50px;
}
.about-btn{
    text-decoration: none;
    color: white;
    padding: 24px 32px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5)
}
/* End About Secton */
/* Start Feature Section */
.feature{
    padding-bottom: 100px;
    margin: 0 5%;
}
.feature-main-title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: #707070;
    margin: 30px 0px;
}
.feature-main-pera{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    color: #18191F;
    margin: 15px 0px;
    padding-bottom: 50px;
    padding: 0 20%;
}
.feature-item{
    display: flex;
    padding-top: 15px;
}
.feature-box{
    width: 30%;
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin: 0px 3%;
}
.feature-box img{
    width: 100%;
}
/* End Feature Section */
.social-media-statistics{
    display: flex;
    margin: 0 8%;
    padding: 40px 59px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 100px;
}
.social-media-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
    margin: 8px 0px;
}
.social-media-pera{
    font-size: 16px;
    line-height: 26px;
    color: #18191F;
    margin: 0px 8px;
}
.box{
    margin: 0px 75px;
}
/* End Social Media */
/* Start Customar Section */
.customar{
    margin-right: 6%;
    padding-bottom: 100px;
}
.customar-item{
    display: flex;
    margin-top: 50px;
}
.customar-half-area-1{
    width: 40%;
}
.customar-half-area-1 img{
    width: 100%;
}
.customar-half-area-2{
    width: 25%;
    margin-left: 5%;
    padding: 15px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
    padding-bottom: 30px;

}
.customar-half-area-3{
    width: 25%;
    margin-left: 5%;
    padding: 15px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    border-left: 7px solid;
    border-image: linear-gradient(rgb(14, 173, 88), rgb(4, 12, 12));
    border-image-slice: 1;
    padding-bottom: 30px;
}
/* End Customar Section */
#blog-section{
    padding-bottom: 100px;
    margin: 0 5%;
}
.blog-title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: #707070;
    margin: 30px 0px;
}
.blog-post{
    display: flex;
    margin-top: 50px;
}
.post{
    width: 40%;
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-left: 5%;
}
.post img{
    width: 100%;
    padding-bottom: 15px;
}
.post-link{
    text-decoration: none;
    color:#fc8b47 ;
    font-weight: bold;
    font-size: 20px;
}
.post-pera{
    padding-bottom: 20px;
}
.continue{
    border-radius: 100px;
    background: rgb(240, 236, 236);
    padding: 10px 30px;
}
/* End Blog section */
/* Start footer Srection */
footer{
    padding-top: 30px;
    padding-bottom: 100px;
    background: #0B0D17;
}
.footer-title{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: white;
}
.footer-pera{
    text-align: center;
    margin: 0px 24px;
    font-size: 16px;
    color: white;
}
/* End Footer Section */
